.example-card {
    display: none;
    position: absolute;
    top: 0;
    left: 60px;
    background: #fff;
    width: 400px;
    height: 200px;
}

@media (min-width: 768px) {
    .example-card {
        display: block;
    }
}

